<main>
  <div class="container">
    <!-- Barra de navegação -->
    
    <!-- Tabela de Pacientes -->

    <div class="items">
      <div class="novos-pacientes">
        <h1>NOVOS PACIENTES</h1>
        <div class="table">
          <div class="table-header">
            <div class="title">Nome</div>
            <div class="title">CPF</div>
            <div class="title">Endereço</div>
          </div>
          <div class="table-content">
            <div class="column">Juan Guilherme</div>
            <div class="column">458.251.596-25</div>
            <div class="column">Av. Independencia</div>
          </div>
          <div class="table-content">
            <div class="column">Lucas Vannucchi</div>
            <div class="column">444.432.323-55</div>
            <div class="column">Av. Tira Dentes</div>
          </div>
          <div class="table-content">
            <div class="column">Leonardo Cestari</div>
            <div class="column">582.789.101-11</div>
            <div class="column">Rua dos Holandeses</div>
          </div>
        </div>
       
      </div>

      <!-- Calendario -->

      <!--<section class="calendario-container">
        
        <mat-form-field appearance="fill">
          <mat-label>Escolha uma data</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Escolha uma data" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> 
      
       
        <mat-calendar [(selected)]="selectedDate" (selectedChange)="onDateChange($event)"></mat-calendar>
      </section> -->

      <section class="calendar">

       
        
       
        

        <div class="psicos-container">
          <h2>Escolha o Profissional</h2>
          <div class="lista-psicologos">
            <ul>
              <li>
                <img class = "fundo" src="/photon.png" alt="fundo1">
                <span>Fernando Guimaraes</span>
                <button></button>
              </li>
              <li>
                <img class = "fundo" src="/photon.png" alt="fundo1">
                <span>Felipe Soares</span>
                <button></button>
              </li>
              <li>
                <img class = "fundo" src="/photon.png" alt="fundo1">
                <span>Alice Silva</span>
                <button></button>
              </li>
            </ul>
          </div>

        </div>
        
      </section>

      
       
    </div>
    

    <!-- Calendario -->
     

  </div>
</main>
  

