.file-list-container {
  
  max-height: 300px;
  width: 500px;
  background-color: #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Estilo da Barra de Título */
.title-bar {
  background-color: #7b5fc7;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
}

.title-bar h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

/* Lista de Arquivos com Scroll */
.file-list {
  flex-grow: 1;
  overflow-y: scroll; /* Garantir que a rolagem vertical apareça */
  background-color: #f9f9f9;
  max-height: 250px; /* Controla a altura disponível para a rolagem */
}

.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  font-size: 0.9rem;
  color: #333;
  background-color: #fff;
  border-bottom: 1px solid #ddd;

  &:nth-child(odd) {
    background-color: #f1f1f1;
  }
}

/* Estilo da Barra de Rolagem */
.file-list::-webkit-scrollbar {
  width: 10px;
}

.file-list::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
}

.file-list::-webkit-scrollbar-thumb {
  background-color: #7b5fc7;
  border-radius: 10px;
  border: 2px solid #e0e0e0;
}

/* Botão de Download */
.download-button {
  background: none;
  border: none;
  color: #d32f2f;
  cursor: pointer;
}

.download-button matiicon {
  font-size: 1.2rem;
}
