.expansion-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    background-color: #ECECEC;

    .style-button-register {
        width: 97%;
        
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        padding: 15px;
        border-radius: 10px;
        cursor: default;
    }

    span {
        display: flex;

        svg {
            fill: #02486C;
        }
    }

    .expansion-panel-header {
        display: flex;

        p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1.3rem;
            color: #02486C;
            font-weight: bold;
            margin: 0;
            padding: 10px;
            cursor: default;
            text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }
    }

    .form-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
        border: 0.5px solid black;
        width: 97%;
    }
  
    button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 18px;
    }
    
        .text{
            font-size: 18px;
            color: rgb(0, 0, 0);
            padding: 10px;
            border-radius: 5px;

            &:hover {
                background-color: #ae2ed4;
                color: rgb(255, 255, 255);
                transition: 0.5s;
            }
    }
  }
  