.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-image: url("/leo2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    gap: 20px;
}