.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgba(204, 204, 204, 0.548);
    background-size: cover;
    background-repeat: no-repeat;
    background: url('/leo2.jpg');
    height: 100vh;
    gap: 20px;
}